


{% block title %}

{% endblock %}

 {% block body %}



<header class="clearfix" >
    <div id="logo">

    </div>
    <div id="company" style="border: #0b0b0b;border-color: #0b0b0b;border:20px">
        <h2 class="name" style="align-content: center">Shoppy Website</h2>
        <div>esprit ariana chotrana 2</div>
        <div>(+216) 99999999</div>
        <div><a href="mailto:company@example.com">shoppy@esprit.tn</a></div>
    </div>
    </div>
</header>
    <strong><center><h2>Facture num&nbsp;:&nbsp;{{ a.id}}</h2></center></strong>
     <div id="details" class="clearfix">
        <h2> informations du client:</h2>
            <p >adresse de livraison&nbsp; :&nbsp; {{ a.getAdresseLiv() }}</p>
            <div class="address">Nom et prenom &nbsp;: {{ c.nom  }}&nbsp;&nbsp;&nbsp;{{ c.prenom}}</div>
            <div class="email">email :&nbsp;<a >{{ c.email  }}</a></div>
        </div>
        <div id="invoice">

            <div class="date">DATE :&nbsp;&nbsp;&nbsp;{{ "now"|date("Y-m-d") }}</div>
            <div class="date">CREE EN &nbsp;:&nbsp;&nbsp;{{ a.DateCreation|date('Y-m-d')}}</div>
        </br> </br>
        </div>
    </div>{% if lcs | length > 0 %}
     <center> <table border="2" cellspacing="2" cellpadding="2" width="70%">
   <thead>
        <tr>

            <th class="desc">PRODUIT &nbsp;:&nbsp;&nbsp;</th>

            <th class="qty">QUANTITY &nbsp;:&nbsp;&nbsp;</th>
            <th class="unit">UNIT PRICE &nbsp;:&nbsp;&nbsp;</th>
            <th class="total">TOTAL &nbsp;:&nbsp;&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for el in lcs %}
            <tr>


                 <td>{{ el.getIdProduit().nom }}&nbsp;{{ el.getIdProduit().description }}</td>
               <td>{{ el.qte}}</td>
                    <td>{{ el.getIdProduit().prix}}TND</td>
                <td>{{ el.totalLigne }}TND</td>



            </tr>




        {% endfor %}


 {% endif %}

        </tbody>

    </table>
     </center>
                <td></td>
    {% endblock body %}
