{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
  {# {{ form_widget(form) }}    #}

    <p class="form-row form-row-wide">
        <label for="name" >{{ form_label(form.nom) }}<span class="required">*</span></label>
        {{ form_widget(form.nom,{'attr':{'class':'input-text'}}) }}
    </p>

    <p class="form-row form-row-wide">
        <label for="surname" >{{ form_label(form.prenom) }}<span class="required">*</span></label>
        {{ form_widget(form.prenom,{'attr':{'class':'input-text'}}) }}
    </p>

    <p class="form-row form-row-wide">
        <label for="sex" >je suis...<span class="required">*</span></label>
        {{ form_widget(form.sexe) }}
    </p>

    <p class="form-row form-row-wide">
        <label for="phone" >{{ form_label(form.tel) }}<span class="required">*</span></label>
        {{ form_widget(form.tel,{'attr':{'class':'input-text'}}) }}
    </p>

    <p class="form-row form-row-wide">
        <label for="email" >{{ form_label(form.email) }}<span class="required">*</span></label>
        {{ form_widget(form.email,{'attr':{'class':'input-text'}}) }}
    </p>

    <p class="form-row form-row-wide">
        <label for="username" >{{ form_label(form.username) }}<span class="required">*</span></label>
        {{ form_widget(form.username,{'attr':{'class':'input-text'}}) }}
    </p>

    <p class="form-row form-row-wide">
        <label for="password" >{{ form_label(form.plainPassword) }}<span class="required">*</span></label>
        {{ form_widget(form.plainPassword,{'attr':{'class':'input-text'}}) }}
    </p>

    <p class="form-row form-row-wide">
        <label for="roles" >{{ form_label(form.roles) }} Sera supprimé par la suite<span class="required">*</span></label>
        {{ form_widget(form.roles,{'attr':{'class':''}}) }}
    </p>

    <p class="form-row">
        <input type="submit" class="button" value="{{ 'registration.submit'|trans }}" />
    </p>
{{ form_end(form) }}
