 {% extends '/dashboard/pro/dashboard-list-base.html.twig' %}
 {% block title %}
 Portail produits
 {% endblock %}

{% block list_title %}Liste des produits sur Shoppy {% endblock list_title %}

 {% block table %}

  <thead>
   <tr>
    <th>id</th>
    <th>quantite</th>
    <th>nom</th>
    <th>description</th>
    <th>prix</th>
    <th>marque</th>
    <th>Categorie</th>
    <th>Action</th>
   </tr>
  </thead>

   {% for i in data  %}
    <tr>

     <td>{{ i.id }}</td>
     <td>{{ i.quantite}}</td>
     <td>{{ i.nom}}</td>
     <td>{{ i.description}}</td>
     <td>{{ i.prix}}</td>
     <td>{{ i.marque}}</td>
     {% if (i.getIdCategorie() == null ) %}
     <td>
          <a href="{{ path('produit_modifier',{'id':i.id}) }}"><button class="btn-blue">Ajouter categorie</button></a>
     </td>
     {% else %}
      <td>
         {{ i.getIdCategorie().getNom() }}
      </td>
      {% endif %}

     <td><a href={{ path('produit_supprimer',{'id':i.id}) }}><i class="far fa-trash-alt text-danger"></i></a>
        <a href={{ path('produit_modifier',{'id':i.id}) }}><i class="far fa-edit text-info mr-1"></i></a>
      <a href={{ "#" }}>WIP détail produit <i class="far dripicons-home text-info mr-1"></i></a>

     </td>



    </tr>
{% endfor %}

  </table>



  {% endblock table %}


 {% block buttons %}
 <a href={{ path('produit_ajouter') }}><img src="{{ asset('dashboard_style/assets/images/plus.png') }}"/><a/>
 {% endblock buttons %}