{% extends "/dashboard/pro/dashboard-list-base.html.twig" %}

{% block title %}
    Magasins Shoppy
{% endblock title %}

{% block list_title %}Liste des Magasins partenaires{% endblock list_title %}

{% block table %}
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Taille du stock</th>
        <th>matricule fiscal</th>
        <th>ID Gérant / Vendeur</th>
        <th>Nom Gérant / Vendeur</th>
        <th>Actions</th>
    </tr>
    </thead>

    {% for elem in data  %}
        <tr>
            <td>{{ elem.id }}</td>
            <td>{{elem.nom}}</td>
            <td>{{ elem.tailleStock}}</td>
            <td>{{ elem.matriculeFiscal}}</td>
            {%  if(elem.getIdVendeur()==null)  %}
                <td>
                    <a href="{{path('magasin_update',{'id':elem.id})}}"> <button class="btn-blue">Ajouter un responsable</button></a>
                </td>
                <td>
                </td>
            {% else %}
                <td>
                    {{ elem.getIdVendeur().getID()}}
                </td>
                <td>
                    {{ elem.getIdVendeur()}}
                </td>
            {% endif %}

            <td>
                <a href="{{path('magasin_delete',{'id':elem.id})}}"><i class="far fa-trash-alt text-danger"></i></a>
                <a href="{{path('magasin_update',{'id':elem.id})}}"><i class="far fa-edit text-info mr-1"></i></a>
                <a href="{{path('magasin_details',{'id':elem.id})}}"><i class="far dripicons-home text-info mr-1"></i></a>
            </td>
        </tr>
    {% endfor %}
{% endblock table %}

{% block buttons %}
    <a href={{ path('magasin_ajouter') }}><img src="{{ asset('dashboard_style/assets/images/plus.png') }}"/></a>
{% endblock buttons %}