{% extends "/dashboard/pro/dashboard-list-base html.twig" %}

{% block title %}
    Magasins Shoppy
{% endblock title %}


{% block table %}
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Taille du stock</th>
        <th>matricule fiscal</th>
        <th>Actions</th>
    </tr>
    </thead>

    {% for elem in data  %}
        <tr>

            <td>{{ elem.id }}</td>
            <td>{{elem.nom}}</td>
            <td>{{ elem.tailleStock}}</td>
            <td>{{ elem.matriculeFiscal}}</td>
            <td><a href="{{path('magasin_delete',{'id':elem.id})}}"><i class="far fa-trash-alt text-danger"></i><a/>
                    <a href="{{path('magasin_update',{'id':elem.id})}}"><i class="far fa-edit text-info mr-1"></i><a/></td>
        </tr>
    {% endfor %}
{% endblock table %}

{% block buttons %}
    <td><a href={{ path('magasin_ajouter') }}><button>Ajouter magasin</button><a/></td>
{% endblock buttons %}